// 主要颜色
$primaryColor: #409EFF;
// 成功颜色
$successColor: #67C23A;
// 警告颜色
$warningColor: #FE9114;
// 危险颜色
$dangerColor: #F56C6C;
// 信息颜色
$infoColor: #909399;

// 主体活动色
$primaryActiveColor: #3a8ee6;
$warningActiveColor: #ea8919;
$successActiveColor: #5daf34;
$dangerActiveColor: #dd6161;

// 主要文本颜色
$primaryTextColor: #303133;
// 标准文本颜色
$normalTextColor: #606266;
// 次要文本颜色
$secondaryTextColor: #909399;
// 占位文本颜色
$placeholderTextColor: #C0C4CC;

// 一级边框颜色
$level1BorderColor: #DCDFE6;
// 二级边框颜色
$level2BorderColor: #E4E7ED;
// 三级边框颜色
$level3BorderColor: #EBEEF5;
// 四级边框颜色
$level4BorderColor: #F2F6FC;

// 页面最大宽度
$maxWidth: 1000px;